.quantity {
  display: inline-block;
  height: $line-height-computed*2;
  position: relative;
  vertical-align: middle;

  &__input {
    @extend %theme-background3;

    border: 1px solid $skin3_border;
    border-radius: $border-radius-base;
    box-shadow: none;
    box-sizing: border-box;
    display: block;
    height: 100%;
    min-width: $line-height-computed*5;
    padding: $line-height-computed/2 $line-height-computed;
    text-align: center;
    vertical-align: middle;
    width: 1px;
    -moz-appearance:textfield;
    
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
  }

  &__plus,
  &__minus {
    bottom: 0;
    color: $link-color;
    cursor: pointer;
    display: block;
    height: 100%;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    vertical-align: top;
    width: $line-height-computed;
    z-index: 1;

    @extend .vcenter;

    &:before {
      @extend .vcenter__in;
    }

    &:after {
      border-bottom: 4px solid transparent;
      border-top: 4px solid transparent;
      content: '';
      display: inline-block;
      height: 0;
      width: 0;
    }

    &:hover {
      color: $link-hover-color;
    }
  }


  &__minus {
    left: 1px;

    &:after {
      border-right: 4px solid;
    }
  }

  &__plus {
    right: 1px;

    &:after {
      border-left: 4px solid;
    }
  }

  &-small {
    height: $line-height-computed*2;
  }

}
