$browser-default-font-size:             16px;


$theme-background4-bg0:                 #fff;
$theme-background4-bg100:               #f2f2f2; //darken(saturate(adjust-hue($theme-background4-bg0, 210deg), 30), 8);

$theme-background5-bg0:                 #fff;
$theme-background5-bg100:               darken(saturate(adjust-hue(#fff, 213deg), 30), 7); //#E7ECF2







