.icon-svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  fill-rule: evenodd;
  margin-bottom: -0.0555556em;
  pointer-events: none;
  vertical-align: middle;
}

.icon-svg-blocks {
  font-size:(16/10)*1rem;
  width:(15/16)*1em;
}
.icon-svg-box {
  font-size:(22/10)*1rem;
  width:(23/22)*1em;
}
.icon-svg-box2 {
  font-size:(20/10)*1rem;
  width:(23/20)*1em;
}
.icon-svg-car {
  font-size:(17/10)*1rem;
  width:(28/17)*1em;
}
.icon-svg-cart {
  font-size:(26/10)*1rem;
  width:(30/26)*1em;
}
.icon-svg-cart2 {
  font-size:(20/10)*1rem;
  width:(24/20)*1em;
}
.icon-svg-check {
  font-size:(9/10)*1rem;
  width:(13/9)*1em;
}
.icon-svg-close {
  font-size:(10/10)*1rem;
  width:(10/10)*1em;
}
.icon-svg-cmp {
  font-size:(14/10)*1rem;
  width:(13/14)*1em;
}
.icon-svg-crumb {
  font-size:(17/10)*1rem;
  width:(13/17)*1em;
}
.icon-svg-dialog {
  font-size:(11/10)*1rem;
  width:(16/11)*1em;
}
.icon-svg-down-round {
  font-size:(30/10)*1rem;
  width:(30/30)*1em;
}
.icon-svg-error {
  font-size:(14/10)*1rem;
  width:(14/14)*1em;
}
.icon-svg-fb {
  font-size:(12/10)*1rem;
  width:(6/12)*1em;
}
.icon-svg-floppy {
  font-size:(19/10)*1rem;
  width:(19/19)*1em;
}
.icon-svg-glass {
  font-size:(12/10)*1rem;
  width:(11/12)*1em;
}
.icon-svg-heart {
  font-size:(10/10)*1rem;
  width:(12/10)*1em;
}
.icon-svg-incart {
  font-size:(53/10)*1rem;
  width:(65/53)*1em;
}
.icon-svg-left {
  font-size:(24/10)*1rem;
  width:(14/24)*1em;
}
.icon-svg-left-quote {
  font-size:(14/10)*1rem;
  width:(15/14)*1em;
}
.icon-svg-left-round {
  font-size:(30/10)*1rem;
  width:(30/30)*1em;
}
.icon-svg-left-triangle {
  font-size:(30/10)*1rem;
  width:(24/30)*1em;
}
.icon-svg-list {
  font-size:(9.906/10)*1rem;
  width:(14.969/9.906)*1em;
}
.icon-svg-lock {
  font-size:(16/10)*1rem;
  width:(12/16)*1em;
}
.icon-svg-locked {
  font-size:(16/10)*1rem;
  width:(16/16)*1em;
}
.icon-svg-mail {
  font-size:(10/10)*1rem;
  width:(13/10)*1em;
}
.icon-svg-marker {
  font-size:(16/10)*1rem;
  width:(11/16)*1em;
}
.icon-svg-more {
  font-size:(60/10)*1rem;
  width:(60/60)*1em;
}
.icon-svg-payment-box {
  font-size:(33/10)*1rem;
  width:(41/33)*1em;
}
.icon-svg-payment-clock {
  font-size:(39/10)*1rem;
  width:(38/39)*1em;
}
.icon-svg-phone {
  font-size:(16/10)*1rem;
  width:(9/16)*1em;
}
.icon-svg-phone-big {
  font-size:(20/10)*1rem;
  width:(18/20)*1em;
}
.icon-svg-postal {
  font-size:(16/10)*1rem;
  width:(24/16)*1em;
}
.icon-svg-refresh {
  font-size:(9/10)*1rem;
  width:(15/9)*1em;
}
.icon-svg-refresh2 {
  font-size:(12/10)*1rem;
  width:(13/12)*1em;
}
.icon-svg-reply {
  font-size:(22/10)*1rem;
  width:(18/22)*1em;
}
.icon-svg-right {
  font-size:(24/10)*1rem;
  width:(14/24)*1em;
}
.icon-svg-right-quote {
  font-size:(14/10)*1rem;
  width:(15/14)*1em;
}
.icon-svg-right-round {
  font-size:(30/10)*1rem;
  width:(30/30)*1em;
}
.icon-svg-right-triangle {
  font-size:(30/10)*1rem;
  width:(24/30)*1em;
}
.icon-svg-rocket {
  font-size:(21.031/10)*1rem;
  width:(21.25/21.031)*1em;
}
.icon-svg-scale {
  font-size:(10/10)*1rem;
  width:(14/10)*1em;
}
.icon-svg-settings {
  font-size:(12/10)*1rem;
  width:(12/12)*1em;
}
.icon-svg-star {
  font-size:(13/10)*1rem;
  width:(13/13)*1em;
}
.icon-svg-tw {
  font-size:(11/10)*1rem;
  width:(8/11)*1em;
}
.icon-svg-user {
  font-size:(16/10)*1rem;
  width:(16/16)*1em;
}
.icon-svg-user-stroke {
  font-size:(20.844/10)*1rem;
  width:(22/20.844)*1em;
}
.icon-svg-vk {
  font-size:(11/10)*1rem;
  width:(8/11)*1em;
}
.icon-svg-wallet {
  font-size:(19/10)*1rem;
  width:(21/19)*1em;
}
