.news-item {
  margin-bottom: $line-height-computed * 1.5;
  

  &__image {
    text-align: center;
  }

  &__name {
    font-weight: bold;
    margin-bottom: $line-height-computed / 4;
  }

  &__preview {
    text-align: justify;
  }

  &__detail {
    float: right;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
  }
}