.abc {
  margin-bottom: $line-height-computed*1.5;

  &__letter {
    @extend .hint;
    
    font-size: $font-size-h3;
    margin-bottom: $line-height-computed/2;

    padding: 2px;
    
  }
  
  &__link {
    color: $gray-darker;
    text-decoration: none;
  }
}

.abc_row {

  > .abc {
    
    
    @media (max-width: $screen-xs-max) {
    
      &:nth-child(2n + 1) {
        clear: both;
      }
    }
    
    
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

        &:nth-child(3n + 1) {
          clear: both;
        }
    }
    
    
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

        &:nth-child(4n + 1) {
          clear: both;
        }
    }
    

    @media (min-width: $screen-lg-min) {

        &:nth-child(5n + 1) {
          clear: both;
        }
    }
    
  }
}
