.hint {
  background: $skin0_bg;
  border-radius: 50%;
  color: $body-bg;
  display: inline-block;
  font-style: normal;
  height: $line-height-computed;
  line-height: $line-height-computed;
  text-align: center;
  vertical-align: middle;
  width: $line-height-computed;

  & > .icon-close {
    fill: $body-bg;
    margin-top: -1px;
  }
}