.adds {

  &__phone {
    font-size: $font-size-h4;
    line-height: $line-height-computed*2;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  
  .icon {
    margin-right: em($line-height-computed * .3);
  }
}

@media (min-width: $screen-sm-min) {

  .adds {

    &__phone {
      font-size: $font-size-h2;
      line-heigh: $line-height-computed;
    }
  }
}